# based on https://github.com/paceholder/nodeeditor/blob/master/.appveyor.yml

image: Visual Studio 2017

environment:
    matrix:
        - GENERATOR: "Visual Studio 15 2017 Win64"
          QTDIR: C:\Qt\5.12\msvc2017_64

platform: x64
configuration: Release

install:
    - set PATH=%QTDIR%\bin;%PATH%

before_build:
    - mkdir build
    - cd build
    - cmake "-G%GENERATOR%" "-DCMAKE_PREFIX_PATH=%QTDIR%" ..

build_script:
    - cmake --build .
